<div id="Formulario" ng-init="cargarDatos();" ng-show="DatosCargados">
	<div class="modal-header">
		<h3 class="modal-title text-center">Editar Incidencia</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<p>Título</p>
			<input type="text" id="Titulo" class="form-control" ng-model="Titulo"/>
		</div>
		<div class="form-group">
			<p>Descripción</p>
			<textarea class="form-control js-auto-size" id="Descripcion" ng-model="Descripcion"/>
		</div>
		<div class="form-group">
			<p>Departamento</p>
			<select id="Departamento" class="form-control" ng-model="DepartamentoSeleccionado" ng-change="setUbicacion()" ng-options="Departamento.Nombre for Departamento in Departamentos track by Departamento.id"></select>
		</div>
		<div class="form-group">
			<p>Ubicación</p>
			<select id="Ubicacion" class="form-control" ng-model="UbicacionSeleccionada" ng-change="setInstalacion()" ng-options="Ubicacion.Nombre for Ubicacion in DepartamentoSeleccionado.Ubicaciones track by Ubicacion.id">
			</select>
		</div>
		<div class="form-group">
			<p>Instalación</p>
			<select id="Instalacion" class="form-control" ng-model="InstalacionSeleccionada" ng-options="Instalacion.Nombre for Instalacion in UbicacionSeleccionada.Instalaciones track by Instalacion.id"></select>
		</div>
		<div class="form-group">
			<p>Tipo</p>
			<select id="Tipo" class="form-control" ng-model="TipoSeleccionado" ng-options="TipoIncidencia for TipoIncidencia in TiposIncidencia track by TipoIncidencia"></select>
		</div>
		<div class="form-group">
			<p>Prioridad</p>
			<select id="Prioridad" class="form-control" ng-model="PrioridadSeleccionada" ng-options="PrioridadIncidencia for PrioridadIncidencia in PrioridadesIncidencia track by PrioridadIncidencia"></select>
		</div>
		<div class="form-group">
			<p>Guardia</p>
			<select id="Guardia" class="form-control" ng-model="TipoGuardiaSeleccionado" ng-options="TipoGuardia for TipoGuardia in TiposGuardia track by TipoGuardia"></select>
		</div>
		<div class="form-group">
			<p>Estado</p>
			<select id="Estado" class="form-control" ng-model="EstadoSeleccionado" ng-options="EstadoIncidencia for EstadoIncidencia in EstadosIncidencia track by EstadoIncidencia"></select>
		</div>
		<div class="form-group">
			<p>Operador</p>
			<select id="Operador" class="form-control" ng-model="OperadorSeleccionado" ng-options="Operador.Nombre + ' ' + Operador.Apellidos for Operador in Operadores track by Operador.ID"></select>
		</div>
		<div class="form-group">
			<p>Fecha de Inicio</p>
			<input id="FechaInicio" type="datetime-local" class="form-control" ng-model="FechaInicio"/>
		</div>
		<div class="form-group">
			<p>Fecha Prevista</p>
			<input id="FechaPrevista" type="datetime-local" class="form-control" ng-model="FechaPrevista"/>
		</div>
		<div class="form-group">
			<p>Fecha de Finalización</p>
			<input id="FechaFin" type="datetime-local" class="form-control" ng-model="FechaFin"/>
		</div>
		<div id="Comment" class="form-group">
 			<p>Comentario</p>
 			<textarea class="form-control js-auto-size" id="Comentario" ng-model="Comentario"/>
 		</div>
	</div>
	  <div style="clear: both"></div>
	<div class="modal-footer">
		<button id="Editar" class="btn btn-primary" type="button" ng-click="EditarIncidencia()">Editar</button>
		<button id="Cancelar" class="btn btn-danger" type="button" ng-click="Cancelar()">Cancelar</button>
	</div>
</div>
<script>
	$('textarea.js-auto-size').textareaAutoSize();
	$('.modal-body .form-group').css({ 'width': '45%', 'float': 'left' });
	$('.modal-body .form-group:nth-child(2n+2)').css({ 'float': 'right', 'margin-right': '0px' });
</script>