#Admin #DatosZona, #DatosUsuario {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-box-shadow: 2px 3px 5px black;
	-moz-box-shadow: 2px 3px 5px black;
	box-shadow: 2px 3px 5px black;
	padding: 0;
	float: left;
}

#Admin p {
	font-size: 15px;
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: 1px;
}

#Admin #DatosUsuario {
	float: right;
}

#Admin .panel-body {
	padding-top: 15px;
	padding-bottom: 10px;
}

#Admin #DatosUsuario .panel-body {
	padding: 20px;
}

#Admin #DatosUsuario {
	height: 100%;
}

#Admin #DatosZona {
	height: 500px;
}

#Admin input[type='date'] {
	width: 30%;
	float: left;
}

#Admin label {
	margin-top: 10px;
}

#Admin #Guion {
	width: 5%;
	height: 34px;
	padding: 6px 12px;
	text-align: center;
	float: left;
	margin-top: initial;
}

#Admin #VerDatosUsuario {
	margin-top: 2%;
}

#Admin form.tab-form-demo .tab-pane {
    	margin: 20px 20px;
}

#Admin .pie-legend, #Admin .doughnut-legend {
	width: 500px;
}

#Admin .pie-legend li:nth-child(2n+1), #Admin .doughnut-legend li:nth-child(2n+1) {
	float: left;
	margin: 10px;
}

#Admin .pie-legend li:nth-child(2n+2), #Admin .doughnut-legend li:nth-child(2n+2) {
	float: right;
	margin: 10px;
}

#Admin chart-legend, #Admin doughnut-legend {
	position: absolute;
	bottom: 30px;
}

#DatosUsuarioAdmin {
	margin-top: 50px;
}