#Estadisticas #DatosEstadisticas, #Grafico {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-box-shadow: 2px 3px 5px black;
	-moz-box-shadow: 2px 3px 5px black;
	box-shadow: 2px 3px 5px black;
	padding: 0;
	float: left;
}

#Estadisticas p {
	font-size: 15px;
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: 1px;
}

#Estadisticas #Grafico {
	float: right;
}

#Estadisticas .panel-body {
	padding-top: 15px;
	padding-bottom: 10px;
}

#Estadisticas #Grafico .panel-body {
	padding: 20px;
}

#Estadisticas #Grafico {
	min-height: 500px;
}

#Estadisticas #DatosEstadisticas {
	min-height: 500px;
}

#Estadisticas input[type='date'] {
	width: 30%;
	display: inline-block;
}

#Estadisticas label {
	margin-top: 10px;
}

#Estadisticas #Guion {
	height: 34px;
	padding: 6px 12px;
	text-align: center;
	display: inline-block;
	margin-top: initial;
}

#Estadisticas #VerGrafico {
	margin-top: 2%;
}

#Estadisticas form.tab-form-demo .tab-pane {
    	margin: 20px 20px;
}

#Estadisticas .pie-legend, #Estadisticas .doughnut-legend {
	width: 500px;
}

#Estadisticas .pie-legend li:nth-child(2n+1), #Estadisticas .doughnut-legend li:nth-child(2n+1) {
	float: left;
	margin: 10px;
}

#Estadisticas .pie-legend li:nth-child(2n+2), #Estadisticas .doughnut-legend li:nth-child(2n+2) {
	float: right;
	margin: 10px;
}

#Estadisticas chart-legend  li, #Estadisticas doughnut-legend li {
	width: 150px;
}

ng-form[name="EstadisticasInstalaciones"] div div {
	float: left;
}

ng-form[name="EstadisticasInstalaciones"] div div:nth-child(2n+2) {
	float: right;
}


ng-form[name="EstadisticasInstalaciones"] div div{
	width: 45%;
}

#RangoDeFecha {
	width: 100%;
	text-align: center;
}

#Boton {
	text-align: center;
	float: none;
	width: 100%;
}

#infobox .panel-heading {
	background-color: #009900 !important;
}

#infobox {
	border: 1px solid #009900;
	box-shadow: #009900 1px 1px 5px;
	font-size: 16px !important;
	font-weight: normal;
	text-align: center;
}

#infobox .panel-body {
	padding-top: 10px;
}