#Header {
	height: 50px;
}

.navbar {
	background-color: #337AB7 !important;
	box-shadow: -1px 0px 5px blue;
}

.navbar-header, .navbar-nav {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

.navbar-brand {
	margin-left: 10px !important;
}

.navbar-header a {
	 color: white !important;
}

.navbar-inverse {
	border: none;
}

.navbar-login
{
	 width: 305px;
	 padding: 10px;
	 padding-bottom: 0px;
}

.navbar-login-session
{
	 padding: 10px;
	 padding-bottom: 0px;
	 padding-top: 0px;
}

.icon-size
{
	font-size: 50px;
}

.navbar a span  {
	margin-right: 5px;
	margin-left: 5px;
	color: white;
}

.navbar .glyphicon {
	color: white !important;
}

.navbar .dropdown-toggle span {
	font-weight: bold;
}

.dropdown-menu .navbar-login .row .glyphicon {
	color: black !important;
	margin-right: 10px;
}


.menu {
	color: white !important;
}
.accion{
	color: black;
}