#loginbox {
	margin-top: 5%;
	text-align: center;
}

#btn-login {
	width: 100%;
}

#Logo {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 10%;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: #337AB7 1px 1px 5px;
}

.panel-body {
	padding-top: 30px;
}

.panel-info {
	border: 1px solid #337AB7;
	box-shadow: #337AB7 1px 1px 5px;
}

.panel-title {
	font-weight: normal;
}

.panel-heading {
	background-color: #337AB7 !important;
	color: white !important;
	font-weight: bold !important;
}

.glyphicon {
	color: black !important;
}

#errorbox .panel-heading {
	background-color: #CC0000 !important;
}

#errorbox {
	border: 1px solid #CC0000;
	box-shadow: #CC0000 1px 1px 5px;
	font-size: 16px !important;
	font-weight: normal;
	text-align: center;
}

#errorbox .panel-body {
	padding-top: 10px;
}