<div ng-if="Rol == '1'" class="col-xs-15">
	<div id="Incidencias" class="panel panel-default panel-table col col-xs-11">
		<div class="panel-heading">
			<div class="row">
				<div class="col col-xs-12">
					<h1 class="panel-title">Listado de Incidencias</h1>
				</div>
			</div>
		  </div>
		  <div class="panel-body">
			 <table class="table table-bordered table-list">
				<thead>
					<tr>
						<th class="col-md-1"></th>
						<th class="col-md-1">#</th>
						<th class="col-md-1">Título</th>
						<th class="col-md-1">Descripción</th>
						<th class="col-md-1">Departamento</th>
						<th class="col-md-1">Ubicación</th>
						<th class="col-md-1">Instalación</th>
						<th class="col-md-1">Tipo</th>
						<th class="col-md-1">Operador</th>
						<th class="col-md-1">Estado</th>
						<th class="col-md-1">Prioridad</th>
						<th class="col-md-1">FechaInicio</th>
						<th class="col-md-1">FechaFin</th>
					</tr>
				</thead>
				<tbody ng-hide="Incidencias.length < 0">
					<tr 	ng-click="setIncidenciaSeleccionada(Incidencia.id);" 
						ng-class="{Seleccionado: IncidenciaSeleccionada === Incidencia.id}" 
						ng-repeat="Incidencia in Incidencias">
						<td><i ng-if="Incidencia.Comun == 'Sí'" class="glyphicon glyphicon-eye-open"/></td>
						<td>{{ $index+1 }}</td>
						<td>{{ Incidencia.Titulo }}</td>
						<td>{{ Incidencia.Descripcion }}</td>
						<td>{{ Incidencia.Departamento }}</td>
						<td>{{ Incidencia.Ubicacion }}</td>
						<td>{{ Incidencia.Instalacion }}</td>
						<td>{{ Incidencia.Tipo }}</td>
						<td>{{ Incidencia.Operador }}</td>
						<td>{{ Incidencia.Estado }}</td>
						<td>{{ Incidencia.Prioridad }}</td>
						<td>{{ Incidencia.FechaInicio | date:'dd/MM/yyyy HH:mm' }}</td>
						<td>{{ Incidencia.FechaFin | date:'dd/MM/yyyy HH:mm' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="Acciones" class="panel panel-default panel-table">
		<div class="panel-heading">
			<div class="row">
				<div>
					<h1 class="panel-title text-center"><i class="glyphicon glyphicon-cog"/></h1>
				</div>
			</div>
	  	</div>
	  	<div class="panel-body text-center">
			<button id="AddButton" type="button" class="btn" ng-click="CrearIncidencia()">
				<i class="glyphicon glyphicon-plus"/>
			</button>
		</div>
		<div class="panel-body text-center">
			<button id="EditButton" type="button" class="btn" ng-click="EditarIncidencia(null)">
				<i class="glyphicon glyphicon-pencil"/>
			</button>
		</div>
		<div class="panel-body text-center">
			<button id="DeleteButton" type="button" class="btn" ng-click="BorrarIncidencia()">
				<i class="glyphicon glyphicon-trash"/>
			</button>
		</div>
	</div>
</div>
<div ng-if="Rol == '2'" class="col-xs-12">
	<div id="Incidencias" class="panel panel-default panel-table col col-xs-11">
		<div class="panel-heading">
			<div class="row">
				<div class="col col-xs-12">
					<h1 class="panel-title">Listado de Incidencias</h1>
				</div>
			</div>
		  </div>
		  <div class="panel-body">
			 <table class="table table-bordered table-list">
				<thead>
					<tr>
						<th class="col-md-1"></th>
						<th class="col-md-1">#</th>
						<th class="col-md-1">Título</th>
						<th class="col-md-1">Descripción</th>
						<th class="col-md-1">Departamento</th>
						<th class="col-md-1">Ubicación</th>
						<th class="col-md-1">Instalación</th>
						<th class="col-md-1">Tipo</th>
						<th class="col-md-1">Colaborador</th>
						<th class="col-md-1">Estado</th>
						<th class="col-md-1">Prioridad</th>
						<th class="col-md-1">Fecha Prevista</th>
					</tr>
				</thead>
				<tbody ng-hide="Incidencias.length < 0">
					<tr 	ng-click="setIncidenciaSeleccionada(Incidencia.id);" 
						ng-class="{Seleccionado: IncidenciaSeleccionada === Incidencia.id && Incidencia.Comun == 'No'}" 
						ng-repeat="Incidencia in Incidencias">
						<td><i ng-if="Incidencia.Comun == 'Sí'" class="glyphicon glyphicon-eye-open"/></td>
						<td>{{ $index+1 }}</td>
						<td>{{ Incidencia.Titulo }}</td>
						<td>{{ Incidencia.Descripcion }}</td>
						<td>{{ Incidencia.Departamento }}</td>
						<td>{{ Incidencia.Ubicacion }}</td>
						<td>{{ Incidencia.Instalacion }}</td>
						<td>{{ Incidencia.Tipo }}</td>
						<td>{{ Incidencia.Propietario }}</td>
						<td>{{ Incidencia.Estado }}</td>
						<td>{{ Incidencia.Prioridad }}</td>
						<td>{{ Incidencia.FechaPrevista | date:'dd/MM/yyyy HH:mm' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="Acciones" class="panel panel-default panel-table">
		<div class="panel-heading">
			<div class="row">
				<div>
					<h1 class="panel-title text-center"><i class="glyphicon glyphicon-cog"/></h1>
				</div>
			</div>
	  	</div>
		<div class="panel-body text-center">
			<button id="SinIniciarButton" type="button" class="btn" ng-click="EditarIncidencia('Sin Iniciar')">
				<i class="glyphicon glyphicon-ban-circle"/>
			</button>
			<button id="EnProcesoButton" type="button" class="btn" ng-click="EditarIncidencia('En Proceso')">
				<i class="glyphicon glyphicon-chevron-right"/>
			</button>
			<button id="PendienteButton" type="button" class="btn" ng-click="EditarIncidencia('Pendiente')">
				<i class="glyphicon glyphicon-alert"/>
			</button>
			<button id="CompletadaButton" type="button" class="btn" ng-click="EditarIncidencia('Completada')">
				<i class="glyphicon glyphicon-ok"/>
			</button>
		</div>
	</div>
</div>
<div ng-if="Rol == '3'" class="col-xs-12">
	<div id="Incidencias" class="panel panel-default panel-table col col-xs-11">
		<div class="panel-heading">
			<div class="row">
				<div class="col col-xs-12">
					<h1 class="panel-title">Listado de Incidencias</h1>
				</div>
			</div>
		  </div>
		  <div class="panel-body">
			 <table class="table table-bordered table-list">
				<thead>
					<tr>
						<th class="col-md-1"></th>
						<th class="col-md-1">#</th>
						<th class="col-md-1">Título</th>
						<th class="col-md-2">Descripción</th>
						<th class="col-md-1">Departamento</th>
						<th class="col-md-1">Ubicación</th>
						<th class="col-md-1">Instalación</th>
						<th class="col-md-1">Tipo</th>
						<th class="col-md-1">Operador</th>
						<th class="col-md-1">Estado</th>
						<th class="col-md-1">Creada</th>
					</tr>
				</thead>
				<tbody ng-hide="Incidencias.length < 0">
					<tr 	ng-click="setIncidenciaSeleccionada(Incidencia.id);" 
						ng-class="{Seleccionado: IncidenciaSeleccionada === Incidencia.id && Incidencia.Comun == 'No'}" 
						ng-repeat="Incidencia in Incidencias">
						<td><i ng-if="Incidencia.Comun == 'Sí'" class="glyphicon glyphicon-eye-open"/></td>
						<td>{{ $index+1 }}</td>
						<td>{{ Incidencia.Titulo }}</td>
						<td>{{ Incidencia.Descripcion }}</td>
						<td>{{ Incidencia.Departamento }}</td>
						<td>{{ Incidencia.Ubicacion }}</td>
						<td>{{ Incidencia.Instalacion }}</td>
						<td>{{ Incidencia.Tipo }}</td>
						<td>{{ Incidencia.Operador }}</td>
						<td>{{ Incidencia.Estado }}</td>
						<td>{{ Incidencia.FechaCreacion | date:'dd/MM/yyyy HH:mm' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="Acciones" class="panel panel-default panel-table">
		<div class="panel-heading">
			<div class="row">
				<div>
					<h1 class="panel-title text-center"><i class="glyphicon glyphicon-cog"/></h1>
				</div>
			</div>
	  	</div>
	  	<div class="panel-body text-center">
			<button id="AddButton" type="button" class="btn" ng-click="CrearIncidencia()">
				<i class="glyphicon glyphicon-plus"/>
			</button>
		</div>
		<div class="panel-body text-center">
			<button id="EditButton" type="button" class="btn" ng-click="EditarIncidencia(null)">
				<i class="glyphicon glyphicon-pencil"/>
			</button>
		</div>
	</div>
</div>