<div id="Formulario" ng-init="getDepartamentos(); getIncidencia(); getTiposIncidencia();">
	<div class="modal-header">
		<h3 class="modal-title text-center">Editar Incidencia</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<p>Título</p>
			<input type="text" id="Titulo" class="form-control" ng-model="Titulo"/>
		</div>
		<div class="form-group">
			<p>Descripción</p>
			<textarea class="form-control js-auto-size" id="Descripcion" ng-model="Descripcion"/>
		</div>
		<div class="form-group">
			<p>Departamento</p>
			<select id="Departamento" class="form-control" ng-model="DepartamentoSeleccionado" ng-change="setUbicacion()" ng-options="Departamento.Nombre for Departamento in Departamentos track by Departamento.id"></select>
		</div>
		<div class="form-group">
			<p>Ubicación</p>
			<select id="Ubicacion" class="form-control" ng-model="UbicacionSeleccionada" ng-change="setInstalacion()" ng-options="Ubicacion.Nombre for Ubicacion in DepartamentoSeleccionado.Ubicaciones track by Ubicacion.id">
			</select>
		</div>
		<div class="form-group">
			<p>Instalación</p>
			<select id="Instalacion" class="form-control" ng-model="InstalacionSeleccionada" ng-options="Instalacion.Nombre for Instalacion in UbicacionSeleccionada.Instalaciones track by Instalacion.id"></select>
		</div>
		<div class="form-group">
			<p>Tipo</p>
			<select id="Tipo" class="form-control" ng-model="TipoSeleccionado" ng-options="TipoIncidencia for TipoIncidencia in TiposIncidencia track by TipoIncidencia"></select>
		</div>
	</div>
	  <div style="clear: both"></div>
	<div class="modal-footer">
		<button id="Editar" class="btn btn-primary" type="button" ng-click="EditarIncidencia()">Editar</button>
		<button id="Cancelar" class="btn btn-danger" type="button" ng-click="Cancelar()">Cancelar</button>
	</div>
</div>
<script>
	$('textarea.js-auto-size').textareaAutoSize();
</script>